<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="actions">
		<%= f.submit "書き込む", data: { disable_with: "送信中..." } %>
		<%= f.hidden_field :response_num, :value => @response_num %>
		<%= f.hidden_field :thread_board_id, :value => @thread_board_id %>
		<%= f.hidden_field :user_ipaddress, :value => request.env["HTTP_X_FORWARDED_FOR"] || request.remote_ip %>
		<%= f.label '名前：' %>
		<%= f.text_field :user_name, :value => @response[:user_name] %>
		<%= f.label 'Mail：' %>
		<%= f.text_field :user_email, :value => @response[:user_email] %><br />
		<ul>
	  		<%= f.text_area :comment, size: "80x5" %>
		</ul>
	</div>
<% end %>
