<div class="response">
	<p id="notice"><%= notice %></p>
	<%= render 'menu' %>
	<hr />
	<%= render 'list' %>
	<hr />
	<%= render 'menu' %>
	<%= render 'form' %>
</div>
<%= link_to t("attributes.back"), responses_path %>
