<%= form_for(@thread_board) do |f| %>
  <% if @thread_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thread_board.errors.count, "error") %> prohibited this thread_board from being saved:</h2>

      <ul>
      <% @thread_board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="new_thread">
		<!--
		<dl>
			<dt><%= f.label 'カテゴリ：' %></dt>
			<dd><%= f.select :category_id, {"カテゴリ1" => 1, "カテゴリ2" => 2, "カテゴリ3" => 3} %></dd>
			
			<dt><%= f.label 'スレッド名：' %></dt>
			<dd><%= f.text_field :thread_name %></dd>
			
			<dt><%= f.label '削除用パスワード：' %></dt>
			<dd><%= f.text_field :delete_pass %></dd>
		</dl>
		-->
		<%= request.env["HTTP_USER_AGENT"] %><br />
		<%= request.env["REMOTE_ADDR"] %><br />
		<%= request.env["HTTP_X_FORWARDED_FOR"] || request.remote_ip %><br />
		<%= f.label 'カテゴリ：' %>
		<%= f.select :category_id, {"カテゴリ1" => 1, "カテゴリ2" => 2, "カテゴリ3" => 3} %><br />
		<%= f.label 'スレッド名：' %>
		<%= f.text_field :thread_name %><br />
		<%= f.label '削除用パスワード：' %>
		<%= f.text_field :delete_pass %>
	  	
		<div class="actions">
			<%= f.submit '新規スレッド作成' %>
		</div>
	</div>
<% end %>
