<div class="thread_boards">
	<h1>Listing Thread Boards</h1>
	
	<p id="notice"><%= notice %></p>
	
	<div class="thread_link">
		<%= link_to '新規スレッド作成', new_thread_board_path %>
	</div>
	
	<table class="thread_list">
	  <thead>
	    <tr>
	      <th>スレッド一覧</th>
	    </tr>
	  </thead>
	
		<tbody>
			<tr>
		      	<td>
				    <% @thread_boards.each do |thread_board| %>
				        <%= link_to thread_board[:thread_name], thread_board %>
				        <!--
				        <%= link_to 'Edit', edit_thread_board_path(thread_board) %>
				        <%= link_to 'Destroy', thread_board, method: :delete, data: { confirm: 'Are you sure?' } %>
				        -->
				    <% end %>
			    </td>
			</tr>
		</tbody>
	</table>
	<div class="thread_link">
		<%= link_to '戻る', categories_path %>
	</div>
</div>