<div class="thread_boards">
	<p id="notice"><%= notice %></p>
	
	<table class="thread_list">
		<thead>
			<tr>
			  <th>スレッド詳細</th>
			</tr>
		</thead>
		<tbody>
			<tr>
		      	<td>
		      		<% unless @thread_board.blank? %>
				        <%= link_to '見る', '/responses/'+@thread_id.to_s %>
				        
						<%= form_tag(edit_thread_board_path(@thread_board), :name => "edit", :id => "edit") do %>
					        <%= render 'pass' %>
					        <%= submit_tag '編集', data: { disable_with: "送信中..." } %>
					        <%= submit_tag '削除', id: :delete, name: :delete, data: { confirm: '本当に削除してもよろしいですか？',disable_with: "送信中..." }, :onclick => ("change_action('edit','10/delete');") %>
						<% end %>
		      		<% else %>
		      			<p>削除されたスレッドです</p>
		      		<% end %>
		      		
			    </td>
			</tr>
		</tbody>
	</table>
	
	<div class="thread_link">
		<%= link_to '戻る', thread_boards_path %>
	</div>
</div>
