<div class="thread_boards">
	<p id="notice"><%= notice %></p>
	
	<table class="thread_list">
		<thead>
			<tr>
			  <th><%= t("attributes.thread_detail") %></th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
		      	<td>
		      		<table class="responses_list">
		      			<tbody>
		      				<tr>
		      					<td><%= render '/responses/list' %></td>
		      				</tr>
		      				<% unless @responses.blank? %>
		      				<tr>
		      					<td>※最新の<%= @limit_count %>件を表示しています。</td>
		      				</tr>
		      				<% end %>
		      			</tbody>
		      		</table>
			    </td>
			</tr>
			<tr>
		      	<td>
		      		<% unless @thread_board.blank? %>
				        <%= link_to t("attributes.show"), responses_path+'/'+@thread_board_id.to_s %>
				        
						<%= form_tag(edit_thread_board_path(@thread_board), :name => "edit", :id => "edit") do %>
					        <%= render 'pass' %>
					        <%= submit_tag t("attributes.edit"), data: { disable_with: t("attributes.transmission") } %>
					        <%= submit_tag t("attributes.delete"), id: :delete, name: :delete, data: { confirm: t("attributes.delete_confirm") }, :onclick => ("change_action('edit','10/delete');") %>
						<% end %>
		      		<% else %>
		      			<p><%= t("attributes.thread_detail") %></p>
		      		<% end %>
			    </td>
			</tr>
		</tbody>
	</table>
	
	<div class="thread_link">
		<%= link_to t("attributes.back"), categories_path+'/'+@thread_board["category_id"].to_s %>
	</div>
</div>
