<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  	<table class="category">
  		<tr>
  			<th>カテゴリ名</th>
  			<th>順番</th>
  		</tr>
  		<tr>
	  		<td><%= f.text_field :category_name, :value => @category[:category_name] %></td>
	  		<td><%= f.text_field :order, :value => @category[:order] %></td>
  		</tr>
  	</table>
  	
    <%= f.submit %>
  </div>
<% end %>
