<h1>Editing Category</h1>

<p id="notice"><%= notice %></p>
<div>
<%= form_for("categories", :url => {:action => 'update'}) do |f| %>
  <div class="actions">
  	<table class="category">
  		<tr>
  			<th>カテゴリ名</th>
  			<th>順番</th>
  			<th></th>
  		</tr>
	    <% @categories.each_with_index do |category,index| %>
	    	<% name = "category["+index.to_s+"]" %>
	      <tr>
	  		<td>
	  			<%= hidden_field name, "id" , :value => category["id"].to_i %>
	  			<%= text_field name, "category_name" , :value => category["category_name"] %></td>
	  		<td><%= text_field name, "order_num" , :value => category["order_num"] %></td>
	        <td><%= link_to '削除', category, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></td>
	      </tr>
	    <% end %>
  	</table>
  	
    <%= f.submit %>
<% end %>
</div>

<%= link_to '戻る', categories_path %>
