<div class="category">
	<h1><%= @category[:category_name] %></h1>
	
	<p id="notice"><%= notice %></p>
	
	<div class="thread_link">
		<%= link_to t("attributes.new_thread_board"), new_thread_board_path %>
	</div>
	
	<div class="pageEntriesInfo">
		<%= page_entries_info(@thread_boards) %>
	</div>
	
	<table class="thread_list">
		<thead>
			<tr>
				<th><%= t("attributes.thread_list") %></th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
		      	<td>
		      		<% unless @thread_boards.blank? %>
					    <% @thread_boards.each do |thread_board| %>
					        <%= link_to thread_board[:thread_name], thread_board %>
					    <% end %>
				    <% end %>
			    </td>
			</tr>
		</tbody>
	</table>
	
	<div class="pagination">
		<%= paginate(@thread_boards) %>
	</div>
	
	<div>
		<%= link_to t("attributes.back"), categories_path %>
	</div>
</div>
